<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Thom Wiggers' blog</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ site.name }}"
        href="{{ site.url }}/feed.xml">

    <!--<link rel="stylesheet" href="/css/syntax.css" >-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <!-- Nav Bar -->
 
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           {% for page in site.linked_pages %}
           <li><a href="{{ page.url }}" class="button">{{ page.title }}</a></li>
           {% endfor %}
          </ul>
        </div>
        <h1><a href="{{ site.url }}" style="color: #000">{{ site.name }} <small>{{ site.subtitle }}</small></a></h1>
        <hr />
      </div>
    </div>
   
    <!-- End Nav -->
   
   
    <!-- Main Page Content and Sidebar -->
   
    <div class="row">
   
      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">
        {{ content }}
      </div>
   
      <!-- End Main Content -->
   
   
      <!-- Sidebar -->
   
      <aside class="large-3 columns">
   
        <h5>Links</h5>
        <ul class="side-nav">
          <li><a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a></li>
          <li><a href="https://github.com/{{ site.author.github }}">Github</a></li>
          <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>
        </ul>

        <h5>Recent Posts</h5>
        <ul class="side-nav">
        {% for post in site.posts limit:3 %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        {% if site.related_posts and page.title != 'Home' %}
        <h5>Related Posts</h5>
        <ul class="side-nav">
          {% for post in site.related_posts limit:5 %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

      </aside>
   
      <!-- End Sidebar -->
    </div>
   
    <!-- End Main Content and Sidebar -->
   
   
    <!-- Footer -->
   
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-9 columns">
              <p style="font-size:0.8em">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://thomwiggers.nl" property="cc:attributionName" rel="cc:attributionURL">Thom Wiggers</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
              </p>
          </div>
          <div class="large-3 columns">
            <ul class="inline-list right">
              {% for page in site.linked_pages %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <script type="text/javascript" src="/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
